<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>中華三國志</string>
	<key>CFBundleIdentifier</key>
	<string>com.Zhsan.WorldOfTheThreeKingdoms</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleName</key>
	<string>中華三國志</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon-1.appiconset</string>
	<key>CFBundleVersion</key>
	<string>1220</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage-1.launchimage</string>
</dict>
</plist>
